<!doctype html>
<html>
<head>
    <title>[Book Title]</title>
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/syntax/github-gist.css">
    <script src="assets/js/highlight.js"></script>
    <script>
        hljs.configure({languages: []});
        hljs.initHighlightingOnLoad();
    </script>
</head>
<body>
<div class="container">
    <div class="book-cover">
        <h1>[Book Title]</h1>
        <h2>[Subtitle]</h2>
        <h3>[Author]</h3>
    </div>
    <div class="blank">
        <div style="font-style: italic; text-align: center; margin-top: 24em; margin-left: auto; margin-right: auto;">
            <p style="text-align: center;">
                This is a sample from<br /><strong>[Book Title]</strong><br />
            </p>
            <p style="text-align: center;">
                To learn more about the book and read the rest, head over to <a href="https://yourbooksite.com/">https://yourbooksite.com/</a>
            </p>
        </div>
    </div>
    <div class="book">
        <div class="contents">
            <h1>Contents</h1>
            {{ contents | raw }}
        </div>

        <div class="preface">
            <div class="content">
                {{ preface | raw }}
            </div>
        </div>

        <div class="body">
            <div class="content">
                <div class="section section1">
                    {{ section1 | raw }}
                </div>
                <div class="section section2">
                    {{ section2 | raw }}
                </div>
                <div class="section section3">
                    {{ section3 | raw }}
                </div>
                <div class="section section4">
                    {{ section4 | raw }}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
